PANTHERA_SDK_ROOT=__PANTHERA_REPO_ROOT__/vendor/Panthera-HT_SDK
PANTHERA_CONFIG=__PANTHERA_REPO_ROOT__/vendor/Panthera-HT_SDK/panthera_python/robot_param/Follower.yaml
PANTHERA_MOTOR_TIMEOUT_MS=150
PANTHERA_CAMERA_SERIAL=
PANTHERA_CAMERA_WIDTH=640
PANTHERA_CAMERA_HEIGHT=480
PANTHERA_CAMERA_FPS=30
